# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.tmp

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Node/JS/TS
node_modules/
dist/
build/
coverage/
*.log
.env*

# Misc
*.log
